:root{
    --background-color:orangered;
    --primary-color:blue;
}
.container{
    background: blue;
}
.navbar{
    
    height: 100px;
    background: var(--background-color);

}
.sidebar{
    height: 300px;
    background: var(--primary-color);
 
}
.card{
    height: 200px;
    width: 100px;
    border: 1px solid var(--primary-color);

}
@media screen and (max-width:414.5px) {
    .sidebar{
        display: none;

    }
    
}